
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
    <div class="container mx-0">
        <h1 class="text-danger" style="color: red"><b>Oops, The Access For This Page Is Restricted</b></h1>
        <a href="/Home/Index">Go Back</a>
    </div>
</body>
</html>
