
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
    <div class="container mx-0">
        <h1 class="text-danger" style="color: red"><b>Oops, The Access For This Page Is Restricted</b></h1>
<<<<<<< HEAD
        <a href="/Home/Index">Go Back</a>
=======
        <a href="/NonAdminUsers/Index">Go Back</a>
>>>>>>> 9fd577dc6259ea9bd5308c32a72a08f9358d1f21
    </div>
</body>
</html>
