
@{
    ViewBag.Title = "CreateNewMenu";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<h2>Create New Role Type</h2>

@using MvcExamTaskMitRao.Models
@model Role

@using (Html.BeginForm("CreateNewRole", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.roleType, "Role Type", new { @class = "form-label d-block" })
    @Html.TextBoxFor(x => x.roleType, "", new { @class = "form-control", @type = "text" })
    @Html.ValidationMessageFor(x => x.roleType, "", new { @class = "text-danger" })

    <button type="submit" class="btn btn-small btn-success mt-4 d-block">Create Role</button>
}