
@{
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

@using MvcExamTaskMitRao.Models
@model List<User>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users</title>
</head>
<body>
    <div> 
        <table class="table table-responsive">
            <thead>
                <th>User Name</th>
                @foreach()
            </thead>
        </table>
    </div>
</body>
</html>
